doctype html
html
	head
		title=data.Title

		meta(charset="utf-8")
		meta(meta name="viewport" content="width=device-width, initial-scale=1")

		link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css")

		link(href="/assets/style.css", rel="stylesheet")
	body
		.navigation: .section-inner
			ul.main-menu
				a(href="/"): li.slash Главная
				a(href="/"): li.slash Проекты
				a(href="/"): li.slash О сайте
				a(href="/"): li RSS
			
			ul.menu-social
				li: a(href="/"): i.fa.fa-vk
				li: a(href="/"): i.fa.fa-facebook
				li: a(href="/"): i.fa.fa-twitter
				li: a(href="/"): i.fa.fa-youtube

		canvas(id='star')
		#bgstar

		.title.section-inner
			.blog-title: a(href="/") Grishy.ru
			.blog-subtitle Блог о программировании

		.wrapper.section-inner 
			article.post(role="article")
				a(href="/"): img(src="/assets/img/post1.jpg")
				
				.entryBox
					header.entryHeader
						a(href="/" name="top"): h1=data.title
						
						.entryMeta
							time(datetime="2014-12-22") 22 December 2014

					.entryContent
						p!=html			
			#comments
				h3#commentsTitle Comments

				#disqus
					

	script(src="/assets/main.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js")


	script(src="//localhost:35729/livereload.js")